services:
  nats:
    image: nats
    ports:
      - "4222:4222"

  e-service:
    build: ./e-service
    depends_on:
      - nats
    env_file:
      - .env

  f-service:
    build: ./f-service
    depends_on:
      - nats
    env_file:
      - .env

  web-parser:
    build: ./web-parser
    depends_on:
      - nats
    env_file:
      - .env

  gateway:
    build: ./gateway
    ports:
      - "3000:3000"
    env_file:
      - .env
    depends_on:
      - e-service
      - f-service
      - nats
      - web-parser
