version: "3.9"

services:
  gateway:
    build: ./gateway
    ports:
      - "3000:3000"
    env_file:
      - .env
    depends_on:
      - e-service
      - f-service
      - nats
      - rust-parser

  e-service:
    build: ./e-service
    depends_on:
      - nats
    env_file:
      - .env

  f-service:
    build: ./f-service
    depends_on:
      - nats
    env_file:
      - .env

  rust-parser:
    build: ./rust-parser
    ports:
      - "8000:8000"
    restart: unless-stopped

  nats:
    image: nats
    ports:
      - "4222:4222"
